{{ 'about-us-sec10.css' | asset_url | stylesheet_tag }}

<section class="reviews">
  <h2 class="reviews-mainheading">Corporate Reviews</h2>
  <div class="reviews__heading">
    <h2 class="reviews-subheading">Services Reviewed</h2>
    <p class="reviews-subheading-text">Services Reviewed Corporate flower displays for office,
      receptions, restaurants and bars. Table vase, main 
                                                                                                                                                                                   displays and fresh vase arrangements</p>
  </div>
  <div class="reviews__carousel">
    <div class="reviews__carousel-reviews">
      <div class="reviews-div-top">
        <p class="reviews__carousel-reviews-heading">Ellie - London</p>
        <p class="reviews-body-text">We receive weekly flowers for our restaurant and I have to
          say they are spot on when it comes to designs, delivery
                                                                                                                                                                                            is on time, and very affordable.</p>
      </div>
      <div class="reviews__carousel-reviews-rating">
        <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
        <svg
          class="stars-svg"
          width="102"
          height="16"
          viewBox="0 0 102 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
          <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
          <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
          <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
          <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
        </svg>

      </div>
    </div>
    <div class="reviews__carousel-reviews">
      <div class="reviews-div-top">
        <p class="reviews__carousel-reviews-heading">Mathew - London</p>
        <p class="reviews-body-text">Weekly displays for our reception. Impressive and on time.
          Customer service is also good.</p>
      </div>
      <div class="reviews__carousel-reviews-rating">
        <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
        <svg
          class="stars-svg"
          width="102"
          height="16"
          viewBox="0 0 102 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
          <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
          <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
          <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
          <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
        </svg>

      </div>
    </div>
    <div class="reviews__carousel-reviews">
      <div class="reviews-div-top">
        <p class="reviews__carousel-reviews-heading">Michelle - London</p>
        <p class="reviews-body-text">We swapped suppliers of our weekly flowers to Flower Station
          and so far so good. Very efficient delivery service and
                                                                                                                                                                                                                                                                                designs are different every week</p>
      </div>
      <div class="reviews__carousel-reviews-rating">
        <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
        <svg
          class="stars-svg"
          width="102"
          height="16"
          viewBox="0 0 102 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
          <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
          <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
          <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
          <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
        </svg>

      </div>
    </div>
  </div>
  <div class="reviews__dots">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>



<div class="slideshow-container-10">

  <div class="mySlides-10">
    <div class="review-boxes">
      <div class="reviews__carousel-reviews">
        <div class="reviews-div-top">
          <p class="reviews__carousel-reviews-heading">Michelle - London</p>
          <p class="reviews-body-text">We swapped suppliers of our weekly flowers to Flower Station
            and so far so good. Very efficient delivery service and
                                                                                                                                                                                                                                                                                                  designs are different every week</p>
        </div>
        <div class="reviews__carousel-reviews-rating">
          <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
          <svg
            class="stars-svg"
            width="102"
            height="16"
            viewBox="0 0 102 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
            <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
            <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
            <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
            <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
          </svg>

        </div>
      </div>

      <div class="reviews__carousel-reviews">
        <div class="reviews-div-top">
          <p class="reviews__carousel-reviews-heading">Ellie - London</p>
          <p class="reviews-body-text">We receive weekly flowers for our restaurant and I have to
            say they are spot on when it comes to designs, delivery
                                                                                                                                                                                                              is on time, and very affordable.</p>
        </div>
        <div class="reviews__carousel-reviews-rating">
          <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
          <svg
            class="stars-svg"
            width="102"
            height="16"
            viewBox="0 0 102 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
            <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
            <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
            <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
            <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
          </svg>

        </div>
      </div>
    </div>

  </div>

  <div class="mySlides-10">
    <div class="review-boxes">
      <div class="reviews__carousel-reviews">
        <div class="reviews-div-top">
          <p class="reviews__carousel-reviews-heading">Simon - Ghost</p>
          <p class="reviews-body-text">We swapped suppliers of our weekly flowers to Flower Station
            and so far so good. Very efficient delivery service and
                                                                                                                                                                                                                                                                                                  designs are different every week</p>
        </div>
        <div class="reviews__carousel-reviews-rating">
          <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
          <svg
            class="stars-svg"
            width="102"
            height="16"
            viewBox="0 0 102 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
            <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
            <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
            <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
            <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
          </svg>

        </div>
      </div>

      <div class="reviews__carousel-reviews">
        <div class="reviews-div-top">
          <p class="reviews__carousel-reviews-heading">Capt - Price</p>
          <p class="reviews-body-text">We receive weekly flowers for our restaurant and I have to
            say they are spot on when it comes to designs, delivery
                                                                                                                                                                                                              is on time, and very affordable.</p>
        </div>
        <div class="reviews__carousel-reviews-rating">
          <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
          <svg
            class="stars-svg"
            width="102"
            height="16"
            viewBox="0 0 102 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
            <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
            <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
            <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
            <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
          </svg>

        </div>
      </div>
    </div>
  </div>

  <div class="mySlides-10">
    <div class="review-boxes">
      <div class="reviews__carousel-reviews">
        <div class="reviews-div-top">
          <p class="reviews__carousel-reviews-heading">Michelle - London</p>
          <p class="reviews-body-text">We swapped suppliers of our weekly flowers to Flower Station
            and so far so good. Very efficient delivery service and
                                                                                                                                                                                                                                                                                              designs are different every week</p>
        </div>
        <div class="reviews__carousel-reviews-rating">
          <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
          <svg
            class="stars-svg"
            width="102"
            height="16"
            viewBox="0 0 102 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
            <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
            <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
            <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
            <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
          </svg>
        </div>
      </div>
      <div class="reviews__carousel-reviews">
        <div class="reviews-div-top">
          <p class="reviews__carousel-reviews-heading">Ellie - London</p>
          <p class="reviews-body-text">We receive weekly flowers for our restaurant and I have to
            say they are spot on when it comes to designs, delivery                                                                                                                                                                  is on time, and very affordable.</p>
        </div>
        <div class="reviews__carousel-reviews-rating">
          <p class="reviews__carousel-reviews-date">Posted on 6th Nov 2022</p>
          <svg
            class="stars-svg"
            width="102"
            height="16"
            viewBox="0 0 102 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7.87805 0L9.64678 5.4436H15.3705L10.7399 8.80793L12.5086 14.2515L7.87805 10.8872L3.24745 14.2515L5.01618 8.80793L0.385579 5.4436H6.10932L7.87805 0Z" fill="#FFCE1F" />
            <path d="M29.4387 0L31.2074 5.4436H36.9312L32.3006 8.80793L34.0693 14.2515L29.4387 10.8872L24.8081 14.2515L26.5768 8.80793L21.9462 5.4436H27.67L29.4387 0Z" fill="#FFCE1F" />
            <path d="M50.9991 0L52.7679 5.4436H58.4916L53.861 8.80793L55.6297 14.2515L50.9991 10.8872L46.3685 14.2515L48.1373 8.80793L43.5067 5.4436H49.2304L50.9991 0Z" fill="#FFCE1F" />
            <path d="M72.5616 0L74.3304 5.4436H80.0541L75.4235 8.80793L77.1922 14.2515L72.5616 10.8872L67.931 14.2515L69.6998 8.80793L65.0692 5.4436H70.7929L72.5616 0Z" fill="#FFCE1F" />
            <path d="M94.1222 0L95.8909 5.4436H101.615L96.9841 8.80793L98.7528 14.2515L94.1222 10.8872L89.4916 14.2515L91.2603 8.80793L86.6297 5.4436H92.3535L94.1222 0Z" fill="#FFCE1F" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div style="text-align:center">
  <span class="dot-10" onclick="currentSlide(1)"></span>
  <span class="dot-10" onclick="currentSlide(2)"></span>
  <span class="dot-10" onclick="currentSlide(3)"></span>
</div>


{{ 'about-us-sec10.js' | asset_url | script_tag }}

<script src="{{ 'about-us-sec10.js' | asset_url }}" defer></script>