{{ 'aboutus-header.css' | asset_url | stylesheet_tag }}

<div class="aboutus-header">
  <div class="aboutus-logos">
    <svg
      class="aboutus-instalogo"
      viewBox="0 0 19 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16.3536 16.3514C16.7665 15.9372 17.0908 15.4394 17.3023 14.8935C17.505 14.3691 17.6443 13.7712 17.6848 12.8947C17.7254 12.0169 17.7355 11.7357 17.7355 9.5C17.7355 7.26433 17.7254 6.98313 17.6848 6.10533C17.6443 5.2288 17.505 4.63093 17.3023 4.10653C17.0955 3.55723 16.7713 3.05968 16.3523 2.6486C15.9412 2.22971 15.4436 1.90551 14.8944 1.6986C14.37 1.49593 13.7721 1.3566 12.8956 1.31606C12.0178 1.27553 11.7366 1.26666 9.50091 1.26666C7.26524 1.26666 6.98405 1.27553 6.10625 1.31733C5.22971 1.35533 4.63184 1.49466 4.10745 1.6986C3.55842 1.90598 3.06098 2.23012 2.64951 2.6486C2.23103 3.06007 1.9069 3.55751 1.69951 4.10653C1.49684 4.63093 1.35751 5.2288 1.31698 6.10533C1.27644 6.98313 1.26758 7.26433 1.26758 9.5C1.26758 11.7357 1.27644 12.0169 1.31824 12.8947C1.35624 13.7712 1.49558 14.3691 1.69951 14.8935C1.90724 15.4432 2.23151 15.9397 2.64951 16.3514C3.06118 16.7694 3.55898 17.0937 4.10745 17.3014C4.63184 17.5041 5.22971 17.6434 6.10625 17.6839C6.98405 17.7232 7.26524 17.7333 9.50091 17.7333C11.7366 17.7333 12.0178 17.7232 12.8956 17.6827C13.7721 17.6447 14.37 17.5053 14.8944 17.3014C15.4412 17.0897 15.9378 16.7662 16.3523 16.3514H16.3536ZM2.53424 8.531V10.469C2.53171 11.5089 2.53171 11.7787 2.55958 12.369C2.59251 13.1113 2.63304 13.6559 2.75718 14.0663C2.87624 14.4615 3.00924 14.8643 3.44498 15.3482C3.88071 15.8333 4.29998 16.0525 4.83451 16.2146C5.37031 16.3755 6.04291 16.4097 6.62684 16.4363C7.28804 16.4667 7.55151 16.4667 8.93978 16.4667H10.4382C11.5048 16.4679 11.7733 16.4692 12.3712 16.4413C13.1122 16.4071 13.6568 16.3666 14.0685 16.2437C14.4624 16.1247 14.8652 15.9904 15.3491 15.5559C15.8342 15.1202 16.0534 14.6997 16.2155 14.1651C16.3764 13.6306 16.4118 12.958 16.4384 12.3741C16.4676 11.7129 16.4676 11.4507 16.4676 10.0662V8.93886C16.4676 7.5506 16.4676 7.2884 16.4384 6.62593C16.4118 6.042 16.3764 5.3694 16.2155 4.83486C16.0546 4.29906 15.8355 3.8798 15.3491 3.44406C14.864 3.00833 14.4624 2.87533 14.0685 2.75626C13.6568 2.6334 13.1122 2.5916 12.3712 2.55866C11.7272 2.5322 11.0827 2.52375 10.4382 2.53333H8.93978C7.55151 2.53333 7.28804 2.53333 6.62684 2.56246C6.04291 2.58906 5.37031 2.62453 4.83451 2.7854C4.29998 2.94753 3.88071 3.16666 3.44498 3.6518C3.00924 4.13693 2.87498 4.53846 2.75718 4.93366C2.63304 5.34406 2.59251 5.88873 2.55958 6.631C2.53171 7.22126 2.53171 7.49106 2.53424 8.531ZM9.50091 6.65C8.74504 6.65 8.02014 6.95026 7.48566 7.48474C6.95118 8.01922 6.65091 8.74413 6.65091 9.5C6.65091 10.2559 6.95118 10.9808 7.48566 11.5152C8.02014 12.0497 8.74504 12.35 9.50091 12.35C10.2568 12.35 10.9817 12.0497 11.5162 11.5152C12.0506 10.9808 12.3509 10.2559 12.3509 9.5C12.3509 8.74413 12.0506 8.01922 11.5162 7.48474C10.9817 6.95026 10.2568 6.65 9.50091 6.65ZM5.38424 9.5C5.38424 8.40819 5.81796 7.3611 6.58999 6.58907C7.36201 5.81705 8.4091 5.38333 9.50091 5.38333C10.5927 5.38333 11.6398 5.81705 12.4118 6.58907C13.1839 7.3611 13.6176 8.40819 13.6176 9.5C13.6176 10.5918 13.1839 11.6389 12.4118 12.4109C11.6398 13.1829 10.5927 13.6167 9.50091 13.6167C8.4091 13.6167 7.36201 13.1829 6.58999 12.4109C5.81796 11.6389 5.38424 10.5918 5.38424 9.5ZM13.8962 6.05466C14.1482 6.05466 14.3898 5.95457 14.568 5.77641C14.7462 5.59825 14.8462 5.35662 14.8462 5.10466C14.8462 4.85271 14.7462 4.61107 14.568 4.43291C14.3898 4.25475 14.1482 4.15466 13.8962 4.15466C13.6443 4.15466 13.4027 4.25475 13.2245 4.43291C13.0463 4.61107 12.9462 4.85271 12.9462 5.10466C12.9462 5.35662 13.0463 5.59825 13.2245 5.77641C13.4027 5.95457 13.6443 6.05466 13.8962 6.05466Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>
    <svg
      class="aboutus-fblogo"
      viewBox="0 0 7 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.54745 15V8.25216H6.62061L6.92877 5.61016H4.54745V3.9273C4.54745 3.16492 4.7409 2.64294 5.73736 2.64294H7V0.287439C6.38565 0.215145 5.76814 0.180238 5.15028 0.182879C3.3178 0.182879 2.05966 1.41126 2.05966 3.66631V5.60522H0L0 8.24722H2.06416V15H4.54745Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>
    <svg
      class="aboutus-pinlogo"
      viewBox="0 0 11 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5.66923 0.182739C1.94615 0.182739 0 2.77577 0 5.64662C0 7.03574 0.676923 8.42486 1.77692 9.16572C2.11538 9.35094 2.03077 9.16572 2.28462 8.05443C2.28462 7.96182 2.28462 7.86921 2.2 7.7766C0.676923 5.73922 1.94615 1.75708 5.5 1.75708C10.6615 1.75708 9.64615 9.53616 6.43077 9.53616C5.75385 9.62877 5.16154 9.07312 5.16154 8.33225V7.96182C5.5 6.94313 5.75385 6.01705 5.83846 4.99836C5.83846 3.05359 3.21538 3.33141 3.21538 5.92444C3.21538 6.38748 3.3 6.85052 3.46923 7.22096C3.46923 7.22096 2.62308 11.0179 2.45385 11.6661C2.28462 12.7774 2.36923 13.8887 2.53846 14.9074C2.45385 15 2.53846 15 2.53846 15H2.62308C3.21538 14.074 3.72308 13.1479 4.06154 12.1292C4.14615 11.6661 4.56923 9.9992 4.56923 9.9992C4.99231 10.6475 5.75385 11.0179 6.51538 11.0179C9.13846 11.0179 11 8.51747 11 5.4614C11 2.40533 8.63077 0.182739 5.66923 0.182739Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>
    <svg
      class="aboutus-phonelogo"
      viewBox="0 0 11 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.85683 0.507842L2.70228 0.252981C3.49508 0.01442 4.34209 0.400415 4.68153 1.15462L5.35725 2.65712C5.65112 3.31131 5.48769 4.08107 4.95339 4.55968L3.46443 5.89177C3.55636 6.68895 3.8408 7.47354 4.31695 8.24553C4.76911 8.99242 5.37562 9.64618 6.10055 10.1681L7.88887 9.60503C8.56617 9.3924 9.30476 9.63763 9.71962 10.2133L10.6884 11.5543C11.1716 12.224 11.0844 13.1471 10.4849 13.7147L9.84298 14.3229C9.2034 14.9282 8.28959 15.1482 7.44494 14.8993C5.44918 14.3125 3.61608 12.5707 1.94248 9.67393C0.266516 6.77267 -0.325138 4.31 0.1683 2.2889C0.375732 1.43838 1.01767 0.76048 1.85683 0.507842Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>
    <svg
      class="aboutus-linkdinlogo"
      viewBox="0 0 12 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.232258 13.0122H2.55484V4.10329H0.232258L0.232258 13.0122ZM1.39355 0.170532C0.619355 0.170532 0 0.812615 0 1.61522C0 2.41782 0.619355 3.05991 1.39355 3.05991C2.16774 3.05991 2.7871 2.41782 2.7871 1.61522C2.7871 0.812615 2.16774 0.170532 1.39355 0.170532ZM6.50323 5.46772V4.10329H4.18064V13.0122H6.50323V8.43735C6.50323 5.86902 9.67742 5.7085 9.67742 8.43735V13.0122H12V7.55449C12 3.22043 7.5871 3.38095 6.50323 5.46772Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>
    <svg
      class="aboutus-msglogo"
      viewBox="0 0 16 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.4 13.0122H1.6C1.17565 13.0122 0.768687 12.8431 0.468629 12.542C0.168571 12.241 0 11.8327 0 11.407L0 1.70591C0.0179461 1.2924 0.194407 0.901832 0.492542 0.615737C0.790678 0.329643 1.18744 0.170141 1.6 0.170533L14.4 0.170533C14.8243 0.170533 15.2313 0.339652 15.5314 0.640687C15.8314 0.941722 16 1.35001 16 1.77574V11.407C16 11.8327 15.8314 12.241 15.5314 12.542C15.2313 12.8431 14.8243 13.0122 14.4 13.0122ZM1.6 3.275V11.407H14.4V3.275L8 7.55449L1.6 3.275ZM2.24 1.77574L8 5.62824L13.76 1.77574H2.24Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>
  </div>
  <h4>Enjoy 10% off your first order with code 10NEW</h4>
  <div class="aboutus-right-heading">
    <h3>stores</h3>
    <h3>services</h3>
    <h3>faqs</h3>
  </div>


</div>