<style>
  .bestselling .heading {
    font-family: "Frank Ruhl Libre", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.472vw;
    font-weight: 300;
    line-height: 4.483vw;
    letter-spacing: 0;
    text-align: center;
  }
  @media screen &(max-width: 428px) {
    .bestselling .heading {
      font-family: "Frank Ruhl Libre", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 8.411vw;
      font-weight: 300;
      line-height: 10.748vw;
      letter-spacing: 0;
      text-align: center;
    }
  }
</style>

<h2 class="best-sellingheading">
  Best Selling Flowers
</h2>