{{ 'delivery-header.css' | asset_url | stylesheet_tag }}
<div class="delivery-header">
  <div class="delivery-left">
    <div class="delivery-svg-container">
      <svg
        width="1.111vw"
        height="1.111vw"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M11.4529 0H4.54707C2.03962 0 0 2.03962 0 4.54707V11.4529C0 13.9604 2.03962 16 4.54707 16H11.4529C13.9604 16 16 13.9604 16 11.4529V4.54707C16 2.03962 13.9604 0 11.4529 0ZM14.8304 11.5754C14.8304 13.3942 13.3505 14.872 11.5338 14.872H4.46618C2.64736 14.872 1.16956 13.392 1.16956 11.5754V4.50772C1.16956 2.68889 2.64954 1.2111 4.46618 1.2111H11.5338C13.3526 1.2111 14.8304 2.69108 14.8304 4.50772V11.5754Z" fill="#2D2D2D" />
        <path d="M8.00019 3.97009C5.75507 3.97009 3.92969 5.79548 3.92969 8.04059C3.92969 10.2857 5.75507 12.1111 8.00019 12.1111C10.2453 12.1111 12.0729 10.2857 12.0729 8.04059C12.0729 5.79548 10.2453 3.97009 8.00019 3.97009ZM8.00019 10.9568C6.39341 10.9568 5.08613 9.64956 5.08613 8.04278C5.08613 6.436 6.39341 5.12872 8.00019 5.12872C9.60696 5.12872 10.9142 6.436 10.9142 8.04278C10.9142 9.64956 9.60696 10.9568 8.00019 10.9568Z" fill="#2D2D2D" />
        <path d="M12.3823 2.82227C11.9298 2.82227 11.5625 3.18953 11.5625 3.64205C11.5625 4.09457 11.9298 4.46183 12.3823 4.46183C12.8348 4.46183 13.2021 4.09457 13.2021 3.64205C13.2021 3.18953 12.8348 2.82227 12.3823 2.82227Z" fill="#2D2D2D" />
      </svg>
      <svg
        width="0.625vw"
        height="1.111vw"
        viewBox="0 0 9 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M8.33507 9.24829L8.72488 6.22612H5.73118V4.29455C5.73118 3.41856 5.97646 2.82288 7.23131 2.82288H8.83219V0.118257C8.55625 0.0810278 7.6058 0 6.49986 0C4.19162 0 2.61046 1.40816 2.61046 3.99671V6.22612H0V9.24829H2.61046V16H5.73118V9.24829H8.33507Z" fill="#2D2D2D" />
      </svg>
      <svg
        width="0.972vw"
        height="1.111vw"
        viewBox="0 0 14 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M4.37562 15.2971C4.80453 14.7739 5.34123 14.1227 5.45351 13.7095C5.57253 13.2783 6.13843 11.0305 6.14516 11.008L6.21926 10.7093L6.36298 10.9811C6.66389 11.5514 7.6048 12.1443 8.66249 12.1443C11.7188 12.1443 13.8543 9.42035 13.8543 5.51972C13.8543 2.80702 11.5683 0 7.74404 0C4.87414 0 0.832031 1.87059 0.832031 6.02947C0.832031 7.84618 1.53941 9.17558 2.77449 9.6786C2.85534 9.71228 2.92944 9.71453 2.98558 9.68533C3.04397 9.65614 3.08663 9.59551 3.10909 9.51018C3.13379 9.41586 3.17645 9.24295 3.21912 9.07677L3.30895 8.72196C3.36509 8.51312 3.35161 8.46821 3.19217 8.27734C2.73856 7.74063 2.51624 7.08491 2.51624 6.272C2.51624 3.13712 5.07176 1.44393 7.47681 1.44393C10.0346 1.44393 11.6873 2.9687 11.6873 5.33109C11.6873 8.38063 10.295 10.6779 8.4514 10.6779C7.89673 10.6779 7.39596 10.4466 7.07484 10.0401C6.76719 9.65165 6.66389 9.15312 6.78516 8.63888C6.89295 8.18302 7.03667 7.71593 7.17814 7.26232C7.42067 6.47411 7.65196 5.73081 7.65196 5.17614C7.65196 4.51818 7.33308 3.8153 6.44157 3.8153C5.44452 3.8153 4.6608 4.88197 4.6608 6.24505C4.6608 7.13207 4.95947 7.74288 4.96172 7.74961L4.97969 7.78779L4.9707 7.82821C4.9707 7.82821 3.89504 12.3891 3.70417 13.1885C3.5335 13.9161 3.5919 15.6699 3.82544 16C3.95793 15.8069 4.15554 15.5644 4.3801 15.2926L4.37562 15.2971Z" fill="#2D2D2D" />
      </svg>
      <svg
        width="1.181vw"
        height="1.111vw"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13.7551 12.8481L11.073 10.8394H11.0583C10.9658 10.7691 10.8363 10.7247 10.6661 10.7062C10.4294 10.6803 10.2111 10.7358 10.015 10.8764L9.07172 11.6458C9.04952 11.6643 9.01622 11.6754 8.96813 11.6865C8.92004 11.6976 8.89044 11.7013 8.86824 11.6976L8.68698 11.6384C8.5649 11.6014 8.39473 11.509 8.17646 11.3647C7.9582 11.2204 7.68817 11.0021 7.36633 10.7136C7.04819 10.4214 6.68934 10.0255 6.29351 9.52241C5.88659 9.0267 5.57584 8.59388 5.36868 8.22764C5.15782 7.85771 5.00615 7.55066 4.91367 7.29911C4.80269 7.01796 4.73979 6.7701 4.725 6.55554C4.725 6.52594 4.73978 6.48895 4.75828 6.44456C4.77677 6.40017 4.79899 6.37057 4.82118 6.35208L5.62761 5.70469C5.77189 5.59001 5.8718 5.44204 5.93098 5.25707C5.99017 5.07211 5.98646 4.89824 5.91247 4.72807L4.65098 1.53553C4.59179 1.42085 4.51782 1.31727 4.42903 1.23219C4.33655 1.1471 4.22926 1.09901 4.09978 1.08422C3.92222 1.06572 3.75575 1.11751 3.60038 1.23959L1.40665 3.00048C1.29937 3.07816 1.19952 3.18544 1.11444 3.32232C1.02935 3.45919 0.970166 3.59607 0.933173 3.73294C0.933173 3.75144 0.914674 3.85132 0.88508 4.02889C0.855485 4.20646 0.848064 4.45431 0.862862 4.77246C0.877659 5.0906 0.933169 5.47163 1.02195 5.91926C1.11444 6.36688 1.26981 6.86998 1.48807 7.42858C1.70633 7.99088 2.00967 8.60497 2.3981 9.28195C2.78653 9.95523 3.28962 10.6729 3.90741 11.4313C4.68427 12.4079 5.42786 13.1922 6.14553 13.7804C6.8632 14.3685 7.51429 14.8236 8.09509 15.1454C8.67589 15.4636 9.17531 15.6781 9.58964 15.7891C10.004 15.9001 10.3036 15.9667 10.4923 15.9852C10.5699 15.9926 10.6365 16 10.6846 16C10.7364 16 10.766 16 10.7734 16C10.914 15.9963 11.0619 15.9667 11.2099 15.9112C11.3616 15.8594 11.4874 15.7854 11.5872 15.6966L13.7773 13.9505C13.9622 13.7989 14.0547 13.6102 14.051 13.3771C14.0325 13.1737 13.9252 12.9961 13.7329 12.8444L13.7551 12.8481Z" fill="#2D2D2D" />
        <path d="M10.5753 8.93787C10.6234 9.00076 10.6937 9.04145 10.7714 9.04885L11.4595 9.11913C11.6037 9.13393 11.7369 9.03405 11.7628 8.88978C11.9404 7.88726 11.674 6.85884 11.0414 6.06718C10.3978 5.26812 9.43963 4.78721 8.41121 4.75021C8.26324 4.74652 8.13745 4.8538 8.12265 5.00177L8.05609 5.68985C8.04869 5.76383 8.07086 5.83412 8.11525 5.89331C8.11525 5.89331 8.12265 5.90071 8.12265 5.90441C8.17444 5.9636 8.24845 5.99689 8.32614 5.99689C9.00681 6.00799 9.63938 6.31873 10.0648 6.84774C10.4865 7.37305 10.653 8.05373 10.5235 8.71591C10.5087 8.79359 10.5235 8.87128 10.5716 8.93417L10.5753 8.93787Z" fill="#2D2D2D" />
        <path d="M12.9668 9.19323C13.0149 9.25242 13.0815 9.28941 13.1555 9.29681L13.8436 9.3671C13.9953 9.38189 14.1285 9.27461 14.1507 9.12664C14.3615 7.48043 13.9102 5.86382 12.8744 4.57275C11.8274 3.27058 10.333 2.47523 8.66455 2.33835C8.51288 2.32725 8.37968 2.43823 8.36488 2.58991L8.29828 3.27798C8.29088 3.35197 8.31309 3.42226 8.35748 3.48144C8.35748 3.48144 8.35748 3.48145 8.35748 3.48514C8.40557 3.54433 8.47586 3.57763 8.54985 3.58503C9.87791 3.69231 11.0691 4.32119 11.9015 5.35701C12.7264 6.38543 13.0853 7.6728 12.9114 8.98236C12.9003 9.05635 12.9225 9.13404 12.9705 9.19323H12.9668Z" fill="#2D2D2D" />
        <path d="M14.825 3.04121C13.3749 1.23223 11.2108 0.126127 8.88762 0.000349337C8.73964 -0.00704934 8.61015 0.103931 8.59535 0.251905L8.52875 0.939981C8.52135 1.01397 8.54356 1.08426 8.58795 1.14345C8.58795 1.14345 8.59165 1.14715 8.59535 1.15085C8.64344 1.21004 8.71744 1.24333 8.79143 1.24703C10.7706 1.34321 12.6165 2.28284 13.8521 3.82177C15.0655 5.3348 15.5908 7.30285 15.2911 9.2265C15.2801 9.30049 15.2986 9.37818 15.3466 9.44107C15.3947 9.50026 15.4613 9.54095 15.539 9.54835L16.2271 9.61864C16.3751 9.63343 16.5082 9.52985 16.5304 9.38188C16.8708 7.12528 16.253 4.81319 14.8287 3.04121H14.825Z" fill="#2D2D2D" />
      </svg>
      <svg
        width="1.181vw"
        height="1.111vw"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M0.884331 5.31321H4.2075V16H0.884331V5.31321ZM2.54592 0C3.60856 0 4.47077 0.864603 4.47077 1.92724C4.47077 2.98989 3.60856 3.85207 2.54592 3.85207C1.48328 3.85207 0.621094 2.98989 0.621094 1.92724C0.621094 0.864603 1.48086 0 2.54592 0Z" fill="#2D2D2D" />
        <path d="M6.29145 5.31315H9.47697V6.77428H9.52285C9.96481 5.93383 11.0492 5.04749 12.6649 5.04749C16.0291 5.04749 16.6498 7.25971 16.6498 10.1361V15.9975H13.329V10.8002C13.329 9.5613 13.3073 7.96492 11.6023 7.96492C9.89721 7.96492 9.60982 9.31737 9.60982 10.7109V15.9975H6.28906V5.31073L6.29145 5.31315Z" fill="#2D2D2D" />
      </svg>
      <svg
        width="1.528vw"
        height="1.111vw"
        viewBox="0 0 22 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2310_28)">
          <path d="M19.6865 16H2.00736C0.900578 16 0 15.0994 0 13.9926V2.00736C0 0.900579 0.900578 0 2.00736 0H19.6865C20.7933 0 21.6938 0.900579 21.6938 2.00736V13.9926C21.6938 15.0994 20.7933 16 19.6865 16ZM2.00736 1.33824C1.63703 1.33824 1.33824 1.63703 1.33824 2.00736V13.9926C1.33824 14.363 1.63703 14.6618 2.00736 14.6618H19.6865C20.0568 14.6618 20.3556 14.363 20.3556 13.9926V2.00736C20.3556 1.63703 20.0568 1.33824 19.6865 1.33824H2.00736Z" fill="#2D2D2D" />
          <path d="M10.8271 9.85586C10.2547 9.85586 9.67818 9.58652 9.08481 9.05207C7.98644 8.05891 0.954354 1.53602 0.882812 1.46869L1.33731 0.976318C1.40885 1.04365 8.43673 7.56233 9.5351 8.55128C10.4651 9.38873 11.189 9.39294 12.1148 8.5597C13.0196 7.74749 20.0517 1.10257 20.1232 1.03523L20.5819 1.5234C20.2915 1.79694 13.4699 8.24407 12.5609 9.06048C11.9675 9.59073 11.3994 9.85586 10.8271 9.85586Z" fill="#2D2D2D" />
          <path d="M8.198 8.03036L0.886719 14.5262L1.33114 15.0264L8.64243 8.53057L8.198 8.03036Z" fill="#2D2D2D" />
          <path d="M13.4546 8.03753L12.9961 8.5249L20.1227 15.229L20.5812 14.7416L13.4546 8.03753Z" fill="#2D2D2D" />
        </g>
        <defs>
          <clipPath id="clip0_2310_28">
            <rect
              width="21.6938"
              height="16"
              fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="delivery-header-text">
      <svg
        width="13.75px"
        height="9.38px"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.625 3.52313C0.625496 3.41726 0.667944 3.3159 0.74304 3.24127C0.818136 3.16665 0.919754 3.12484 1.02563 3.125H9.86312C9.9691 3.12467 10.0709 3.16641 10.1461 3.24105C10.2213 3.3157 10.2639 3.41715 10.2644 3.52313V6.01375H11.9187C12.03 6.01375 12.1363 6.05938 12.2125 6.14063L14.2675 8.335C14.3362 8.40875 14.375 8.50563 14.375 8.60625V10.9638C14.3745 11.0696 14.3321 11.171 14.257 11.2456C14.1819 11.3202 14.0802 11.362 13.9744 11.3619H13.1956C13.1363 12.0081 12.5787 12.5 11.9187 12.5C11.2587 12.5 10.7019 12.0075 10.6425 11.3625H6.14875C6.08938 12.0075 5.53125 12.5 4.87187 12.5C4.2125 12.5 3.655 12.0075 3.59562 11.3625H3.40375C3.29788 11.3625 3.19633 11.3205 3.12135 11.2458C3.04637 11.171 3.00408 11.0696 3.00375 10.9638C3.00425 10.858 3.04661 10.7567 3.12157 10.6821C3.19653 10.6075 3.29799 10.5656 3.40375 10.5656H3.7975C3.91623 10.3899 4.0764 10.246 4.26389 10.1468C4.45137 10.0476 4.66039 9.99614 4.8725 9.99688C5.08457 9.99636 5.29351 10.048 5.48096 10.1471C5.66841 10.2463 5.82862 10.39 5.9475 10.5656H9.4625V3.92188H1.02563C0.919646 3.92204 0.817933 3.88015 0.74282 3.80538C0.667706 3.73062 0.625331 3.62911 0.625 3.52313ZM10.2644 10.5656H10.8444C10.9631 10.3899 11.1233 10.246 11.3108 10.1468C11.4982 10.0476 11.7073 9.99614 11.9194 9.99688C12.1313 9.99646 12.3402 10.0481 12.5275 10.1473C12.7148 10.2464 12.8749 10.3901 12.9938 10.5656H13.5738V8.7625L11.7444 6.80938H10.2644V10.565V10.5656ZM1.2125 5.23C1.213 5.12424 1.25536 5.02298 1.33032 4.94837C1.40528 4.87376 1.50674 4.83188 1.6125 4.83188H3.08125C3.18712 4.83171 3.28874 4.87352 3.36384 4.94815C3.43893 5.02278 3.48138 5.12413 3.48187 5.23C3.48154 5.33598 3.43917 5.4375 3.36406 5.51226C3.28894 5.58702 3.18723 5.62892 3.08125 5.62875H1.6125C1.50663 5.62875 1.40508 5.58678 1.3301 5.51204C1.25512 5.43729 1.21283 5.33587 1.2125 5.23ZM1.8 6.93688C1.8005 6.83112 1.84286 6.72986 1.91782 6.65525C1.99278 6.58064 2.09424 6.53875 2.2 6.53875H3.08125C3.18712 6.53859 3.28874 6.5804 3.36384 6.65503C3.43893 6.72965 3.48138 6.83101 3.48187 6.93688C3.48154 7.04286 3.43917 7.14437 3.36406 7.21913C3.28894 7.2939 3.18723 7.33579 3.08125 7.33563H2.2C2.09413 7.33563 1.99258 7.29366 1.9176 7.21891C1.84262 7.14417 1.80033 7.04275 1.8 6.93688ZM2.38688 8.64438C2.38721 8.5384 2.42958 8.43688 2.50469 8.36212C2.57981 8.28736 2.68152 8.24546 2.7875 8.24563H3.08125C3.18723 8.24546 3.28894 8.28736 3.36406 8.36212C3.43917 8.43688 3.48154 8.5384 3.48187 8.64438C3.48138 8.75025 3.43893 8.8516 3.36384 8.92623C3.28874 9.00086 3.18712 9.04267 3.08125 9.0425H2.7875C2.68163 9.04267 2.58001 9.00086 2.50491 8.92623C2.42982 8.8516 2.38737 8.75025 2.38688 8.64438ZM4.5275 10.9319C4.48506 10.973 4.45121 11.0221 4.42793 11.0764C4.40465 11.1307 4.39239 11.1891 4.39188 11.2481C4.39188 11.49 4.5975 11.7038 4.87187 11.7038C5.14687 11.7038 5.3525 11.49 5.3525 11.2481C5.35207 11.1888 5.33979 11.1302 5.3164 11.0756C5.293 11.0211 5.25895 10.9718 5.21625 10.9306C5.12402 10.8417 5.00064 10.7923 4.8725 10.7931C4.74384 10.7921 4.61994 10.8424 4.5275 10.9319ZM11.575 10.9306C11.5323 10.9718 11.4982 11.0211 11.4749 11.0756C11.4515 11.1302 11.4392 11.1888 11.4388 11.2481C11.4388 11.49 11.6444 11.7038 11.9187 11.7038C12.1937 11.7038 12.3987 11.49 12.3987 11.2481C12.3984 11.1888 12.3862 11.1302 12.3629 11.0757C12.3396 11.0212 12.3057 10.9719 12.2631 10.9306C12.1709 10.8417 12.0475 10.7923 11.9194 10.7931C11.791 10.7921 11.6674 10.8415 11.575 10.9306Z"
          fill="#2D2D2D" />
      </svg>
      <p>Same Day London Delivery</p>
    </div>
  </div>
  <div class="delivery-right">
    <p>Order by 6pm for Same Day London & 3pm for UK Next Day Delivery</p>
    <div class="delivery-store">
      <p>Stores</p>
      <svg
        width="1.250vw"
        height="1.111vw"
        viewBox="0 0 18 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.571425 16L0.570827 7.35567C0.904049 7.59263 1.29286 7.75646 1.71398 7.82322L1.71438 14.8569H5.71425V7.762C5.94185 7.82378 6.1812 7.85686 6.42853 7.85686C6.57442 7.85686 6.71752 7.8455 6.85702 7.82318V14.8568H15.4284V7.82318C15.8495 7.75642 16.2383 7.5928 16.5713 7.35603V15.9999H0.57145L0.570852 7.35552L0.571425 16ZM12.4805 10.3174L12.6826 10.5195L10.6623 12.5398L10.4602 12.3377L12.4805 10.3174ZM12.4805 9.17443L12.6826 9.37652L9.65228 12.407L9.45019 12.2049L12.4805 9.17443ZM5.14282 9.99994V11.7143H4.57145V9.99994H5.14282ZM11.3377 9.17443L11.5398 9.37652L9.51947 11.3968L9.31739 11.1947L11.3377 9.17443ZM4.28569 5.14282C4.28569 6.32624 3.32625 7.28567 2.14284 7.28567C0.959432 7.28567 0 6.32624 0 5.14282H4.28569ZM8.57137 5.14282C8.57137 6.32624 7.61194 7.28567 6.42853 7.28567C5.24512 7.28567 4.28569 6.32624 4.28569 5.14282H8.57137ZM12.8571 5.14282C12.8571 6.32624 11.8976 7.28567 10.7142 7.28567C9.5308 7.28567 8.57137 6.32624 8.57137 5.14282H12.8571ZM17.1427 5.14282C17.1427 6.32624 16.1833 7.28567 14.9999 7.28567C13.8165 7.28567 12.8571 6.32624 12.8571 5.14282H17.1427ZM15.7142 0L17.1427 4.5715H0L1.42856 0H15.7142ZM3.39334 0.826271L2.90268 3.35039L3.46369 3.4594L3.95416 0.935285L3.39334 0.826271ZM6.25047 0.826271L5.7598 3.35039L6.32082 3.4594L6.81129 0.935285L6.25047 0.826271ZM13.7494 0.826271L13.1886 0.935285L13.6791 3.4594L14.2401 3.35039L13.7494 0.826271ZM10.8923 0.826271L10.3315 0.935285L10.8219 3.4594L11.3829 3.35039L10.8923 0.826271Z"
          fill="#2D2D2D" />
      </svg>

    </div>
    <div class="delivery-faq">
      <p>FAQs</p>
      <svg
        width="1.181vw"
        height="1.111vw"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M7.85645 12.002C7.54108 12.0283 7.29854 12.2918 7.29854 12.6081C7.29854 12.9246 7.54107 13.1881 7.85645 13.2143C8.02594 13.2286 8.19355 13.1709 8.31884 13.0557C8.44394 12.9405 8.51511 12.7783 8.51511 12.6081C8.51511 12.4381 8.44394 12.2757 8.31884 12.1605C8.19355 12.0454 8.02594 11.9878 7.85645 12.002ZM8.45632 2.54626H7.82707C7.10869 2.54738 6.42004 2.83317 5.91199 3.34125C5.40408 3.84916 5.11829 4.53776 5.11719 5.25614C5.11719 5.48799 5.30484 5.67564 5.53669 5.67564C5.76835 5.67564 5.95619 5.48799 5.95619 5.25614C5.95619 4.76003 6.15321 4.28419 6.50418 3.9332C6.85495 3.58243 7.33081 3.38521 7.82711 3.38521H8.45636C8.95267 3.38521 9.4285 3.58242 9.7793 3.9332C10.1303 4.28416 10.3273 4.76003 10.3273 5.25614C10.338 6.04494 9.99843 6.7976 9.40027 7.31169L8.95567 7.68082V7.681C8.00597 8.47805 7.45784 9.65453 7.45803 10.8943C7.45803 11.1259 7.64587 11.3138 7.87753 11.3138C8.10919 11.3138 8.29703 11.1259 8.29703 10.8943C8.29703 9.90191 8.73639 8.96046 9.49671 8.32277L9.91621 7.95364C10.7144 7.2905 11.1757 6.30637 11.1747 5.26884C11.177 4.54672 10.8914 3.85356 10.3812 3.34268C9.87105 2.83161 9.17832 2.54506 8.45639 2.54621L8.45632 2.54626ZM8.45632 2.54626H7.82707C7.10869 2.54738 6.42004 2.83317 5.91199 3.34125C5.40408 3.84916 5.11829 4.53776 5.11719 5.25614C5.11719 5.48799 5.30484 5.67564 5.53669 5.67564C5.76835 5.67564 5.95619 5.48799 5.95619 5.25614C5.95619 4.76003 6.15321 4.28419 6.50418 3.9332C6.85495 3.58243 7.33081 3.38521 7.82711 3.38521H8.45636C8.95267 3.38521 9.4285 3.58242 9.7793 3.9332C10.1303 4.28416 10.3273 4.76003 10.3273 5.25614C10.338 6.04494 9.99843 6.7976 9.40027 7.31169L8.95567 7.68082V7.681C8.00597 8.47805 7.45784 9.65453 7.45803 10.8943C7.45803 11.1259 7.64587 11.3138 7.87753 11.3138C8.10919 11.3138 8.29703 11.1259 8.29703 10.8943C8.29703 9.90191 8.73639 8.96046 9.49671 8.32277L9.91621 7.95364C10.7144 7.2905 11.1757 6.30637 11.1747 5.26884C11.177 4.54672 10.8914 3.85356 10.3812 3.34268C9.87105 2.83161 9.17832 2.54506 8.45639 2.54621L8.45632 2.54626ZM7.85645 12.002C7.54108 12.0283 7.29854 12.2918 7.29854 12.6081C7.29854 12.9246 7.54107 13.1881 7.85645 13.2143C8.02594 13.2286 8.19355 13.1709 8.31884 13.0557C8.44394 12.9405 8.51511 12.7783 8.51511 12.6081C8.51511 12.4381 8.44394 12.2757 8.31884 12.1605C8.19355 12.0454 8.02594 11.9878 7.85645 12.002ZM8.45632 2.54626H7.82707C7.10869 2.54738 6.42004 2.83317 5.91199 3.34125C5.40408 3.84916 5.11829 4.53776 5.11719 5.25614C5.11719 5.48799 5.30484 5.67564 5.53669 5.67564C5.76835 5.67564 5.95619 5.48799 5.95619 5.25614C5.95619 4.76003 6.15321 4.28419 6.50418 3.9332C6.85495 3.58243 7.33081 3.38521 7.82711 3.38521H8.45636C8.95267 3.38521 9.4285 3.58242 9.7793 3.9332C10.1303 4.28416 10.3273 4.76003 10.3273 5.25614C10.338 6.04494 9.99843 6.7976 9.40027 7.31169L8.95567 7.68082V7.681C8.00597 8.47805 7.45784 9.65453 7.45803 10.8943C7.45803 11.1259 7.64587 11.3138 7.87753 11.3138C8.10919 11.3138 8.29703 11.1259 8.29703 10.8943C8.29703 9.90191 8.73639 8.96046 9.49671 8.32277L9.91621 7.95364C10.7144 7.2905 11.1757 6.30637 11.1747 5.26884C11.177 4.54672 10.8914 3.85356 10.3812 3.34268C9.87105 2.83161 9.17832 2.54506 8.45639 2.54621L8.45632 2.54626ZM7.85645 12.002C7.54108 12.0283 7.29854 12.2918 7.29854 12.6081C7.29854 12.9246 7.54107 13.1881 7.85645 13.2143C8.02594 13.2286 8.19355 13.1709 8.31884 13.0557C8.44394 12.9405 8.51511 12.7783 8.51511 12.6081C8.51511 12.4381 8.44394 12.2757 8.31884 12.1605C8.19355 12.0454 8.02594 11.9878 7.85645 12.002Z" fill="#2D2D2D" />
        <path d="M13.2041 0H3.07713C2.29844 0 1.55139 0.30938 1.00077 0.860144C0.450001 1.41072 0.140625 2.15777 0.140625 2.93651V13.0635C0.140625 13.8422 0.450005 14.5892 1.00077 15.1399C1.55135 15.6906 2.29839 16 3.07713 16H13.2041C13.9828 16 14.7299 15.6906 15.2805 15.1399C15.8312 14.5893 16.1406 13.8422 16.1406 13.0635V2.93651C16.1406 2.15782 15.8312 1.41077 15.2805 0.860144C14.7299 0.309376 13.9829 0 13.2041 0ZM15.3016 13.0635C15.3016 13.6197 15.0806 14.1532 14.6872 14.5466C14.2939 14.94 13.7604 15.161 13.2041 15.161H3.91613C3.3599 15.161 2.82639 14.94 2.43306 14.5466C2.0396 14.1533 1.81863 13.6197 1.81863 13.0635V2.93651C1.81863 2.38027 2.03962 1.84676 2.43306 1.45344C2.82635 1.05997 3.3599 0.839002 3.91613 0.839002H13.208C13.7643 0.839002 14.2977 1.05999 14.6912 1.45344C15.0845 1.84672 15.3055 2.38027 15.3055 2.93651L15.3016 13.0635Z" fill="#2D2D2D" />
      </svg>


    </div>
  </div>


</div>
<div class="delivery-header2">
  <div class="delivery-left">
    <p>
      <span>Mother’s Day-</span>Flower & Gifts for All</p>
  </div>
  <div class="delivery-right">
    <p>Now Accepting Buy Now Pay Later</p>
    <img
      class="delivery-clearpay"
      src="{{ 'delivery-clearpaylogo.png' | asset_url }}"
      alt="Clear Pay logo">
    <img
      class="delivery-klarna"
      src="{{ 'delivery-klarnalogo.png' | asset_url }}"
      alt="Klarna logo">
  </div>
</div>