{{ 'delivery-north-payment-brands.css' | asset_url | stylesheet_tag }}
<div class="delivery-brands-parent">
  <h3>NOW ACCEPTING BUY NOW PAY LATER</h3>
  <div class="logos">
    <img src="{{ 'laybuy.png'  | asset_url}}" alt="laybuy" />
    <img src="{{ 'clearpay.png' | asset_url }}" alt="ClearPay" />
  </div>
</div>