{{ 'home-navbar.css' | asset_url | stylesheet_tag }}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

<div class="header-parent">
  <div class="socials">
    <svg
      width="1.319vw"
      height="1.319vw"
      viewBox="0 0 19 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16.3516 16.3513C16.7646 15.9371 17.0888 15.4393 17.3004 14.8934C17.503 14.369 17.6424 13.7711 17.6829 12.8946C17.7234 12.0168 17.7336 11.7356 17.7336 9.49993C17.7336 7.26427 17.7234 6.98307 17.6829 6.10527C17.6424 5.22873 17.503 4.63087 17.3004 4.10647C17.0935 3.55717 16.7693 3.05962 16.3504 2.64853C15.9392 2.22965 15.4417 1.90545 14.8924 1.69853C14.368 1.49587 13.7702 1.35653 12.8936 1.316C12.0158 1.27547 11.7346 1.2666 9.49896 1.2666C7.26329 1.2666 6.98209 1.27547 6.10429 1.31727C5.22776 1.35527 4.62989 1.4946 4.10549 1.69853C3.55647 1.90592 3.05903 2.23005 2.64756 2.64853C2.22908 3.06001 1.90494 3.55745 1.69756 4.10647C1.49489 4.63087 1.35556 5.22873 1.31503 6.10527C1.27449 6.98307 1.26562 7.26427 1.26562 9.49993C1.26562 11.7356 1.27449 12.0168 1.31629 12.8946C1.35429 13.7711 1.49362 14.369 1.69756 14.8934C1.90529 15.4431 2.22956 15.9397 2.64756 16.3513C3.05923 16.7693 3.55703 17.0936 4.10549 17.3013C4.62989 17.504 5.22776 17.6433 6.10429 17.6839C6.98209 17.7231 7.26329 17.7333 9.49896 17.7333C11.7346 17.7333 12.0158 17.7231 12.8936 17.6826C13.7702 17.6446 14.368 17.5053 14.8924 17.3013C15.4393 17.0897 15.9359 16.7661 16.3504 16.3513H16.3516ZM2.53229 8.53093V10.4689C2.52976 11.5089 2.52976 11.7787 2.55762 12.3689C2.59056 13.1112 2.63109 13.6559 2.75523 14.0663C2.87429 14.4615 3.00729 14.8643 3.44303 15.3481C3.87876 15.8333 4.29802 16.0524 4.83256 16.2145C5.36836 16.3754 6.04096 16.4096 6.62489 16.4362C7.28609 16.4666 7.54956 16.4666 8.93783 16.4666H10.4363C11.5028 16.4679 11.7714 16.4691 12.3692 16.4413C13.1102 16.4071 13.6549 16.3665 14.0666 16.2437C14.4605 16.1246 14.8633 15.9903 15.3472 15.5559C15.8323 15.1201 16.0514 14.6996 16.2136 14.1651C16.3744 13.6305 16.4099 12.9579 16.4365 12.374C16.4656 11.7128 16.4656 11.4506 16.4656 10.0661V8.9388C16.4656 7.55053 16.4656 7.28833 16.4365 6.62587C16.4099 6.04193 16.3744 5.36933 16.2136 4.8348C16.0527 4.299 15.8336 3.87973 15.3472 3.444C14.862 3.00827 14.4605 2.87527 14.0666 2.7562C13.6549 2.63333 13.1102 2.59153 12.3692 2.5586C11.7253 2.53214 11.0807 2.52369 10.4363 2.53327H8.93783C7.54956 2.53327 7.28609 2.53327 6.62489 2.5624C6.04096 2.589 5.36836 2.62447 4.83256 2.78533C4.29802 2.94747 3.87876 3.1666 3.44303 3.65173C3.00729 4.13687 2.87303 4.5384 2.75523 4.9336C2.63109 5.344 2.59056 5.88867 2.55762 6.63093C2.52976 7.2212 2.52976 7.491 2.53229 8.53093ZM9.49896 6.64993C8.74309 6.64993 8.01818 6.9502 7.4837 7.48468C6.94923 8.01916 6.64896 8.74407 6.64896 9.49993C6.64896 10.2558 6.94923 10.9807 7.4837 11.5152C8.01818 12.0497 8.74309 12.3499 9.49896 12.3499C10.2548 12.3499 10.9797 12.0497 11.5142 11.5152C12.0487 10.9807 12.349 10.2558 12.349 9.49993C12.349 8.74407 12.0487 8.01916 11.5142 7.48468C10.9797 6.9502 10.2548 6.64993 9.49896 6.64993ZM5.38229 9.49993C5.38229 8.40813 5.81601 7.36104 6.58804 6.58901C7.36006 5.81699 8.40715 5.38327 9.49896 5.38327C10.5908 5.38327 11.6379 5.81699 12.4099 6.58901C13.1819 7.36104 13.6156 8.40813 13.6156 9.49993C13.6156 10.5917 13.1819 11.6388 12.4099 12.4109C11.6379 13.1829 10.5908 13.6166 9.49896 13.6166C8.40715 13.6166 7.36006 13.1829 6.58804 12.4109C5.81601 11.6388 5.38229 10.5917 5.38229 9.49993ZM13.8943 6.0546C14.1462 6.0546 14.3879 5.95451 14.566 5.77635C14.7442 5.59819 14.8443 5.35656 14.8443 5.1046C14.8443 4.85265 14.7442 4.61101 14.566 4.43285C14.3879 4.25469 14.1462 4.1546 13.8943 4.1546C13.6423 4.1546 13.4007 4.25469 13.2225 4.43285C13.0444 4.61101 12.9443 4.85265 12.9443 5.1046C12.9443 5.35656 13.0444 5.59819 13.2225 5.77635C13.4007 5.95451 13.6423 6.0546 13.8943 6.0546Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>

    <svg
      width="0.486vw"
      height="1.042vw"
      viewBox="0 0 7 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.54745 14.7712V8.07856H6.62061L6.92877 5.45818H4.54745V3.78911C4.54745 3.03296 4.7409 2.51525 5.73736 2.51525H7V0.179038C6.38565 0.107336 5.76814 0.0727146 5.15028 0.0753334C3.3178 0.0753334 2.05966 1.29366 2.05966 3.53025V5.45328H0L0 8.07366H2.06416V14.7712H4.54745Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>

    <svg
      width="0.764vw"
      height="1.042vw"
      viewBox="0 0 11 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5.66923 0.0751953C1.94615 0.0751953 0 2.64699 0 5.49434C0 6.87209 0.676923 8.24984 1.77692 8.98464C2.11538 9.16834 2.03077 8.98464 2.28462 7.88244C2.28462 7.79059 2.28462 7.69874 2.2 7.60689C0.676923 5.58619 1.94615 1.63664 5.5 1.63664C10.6615 1.63664 9.64615 9.35204 6.43077 9.35204C5.75385 9.44389 5.16154 8.89279 5.16154 8.15799V7.79059C5.5 6.78024 5.75385 5.86174 5.83846 4.85139C5.83846 2.92254 3.21538 3.19809 3.21538 5.76989C3.21538 6.22914 3.3 6.68839 3.46923 7.05579C3.46923 7.05579 2.62308 10.8216 2.45385 11.4646C2.28462 12.5668 2.36923 13.669 2.53846 14.6793C2.45385 14.7712 2.53846 14.7712 2.53846 14.7712H2.62308C3.21538 13.8527 3.72308 12.9342 4.06154 11.9238C4.14615 11.4646 4.56923 9.81129 4.56923 9.81129C4.99231 10.4542 5.75385 10.8216 6.51538 10.8216C9.13846 10.8216 11 8.34169 11 5.31064C11 2.27959 8.63077 0.0751953 5.66923 0.0751953Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>

    <svg
      width="0.764vw"
      height="1.042vw"
      viewBox="0 0 11 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.85683 0.397636L2.70228 0.144862C3.49508 -0.091746 4.34209 0.291089 4.68153 1.03912L5.35725 2.52932C5.65112 3.17815 5.48769 3.94162 4.95339 4.4163L3.46443 5.73749C3.55636 6.52814 3.8408 7.30631 4.31695 8.07198C4.76911 8.81276 5.37562 9.46117 6.10055 9.9788L7.88887 9.42035C8.56617 9.20946 9.30476 9.45268 9.71962 10.0236L10.6884 11.3536C11.1716 12.0179 11.0844 12.9335 10.4849 13.4963L9.84298 14.0996C9.2034 14.6999 8.28959 14.9182 7.44494 14.6713C5.44918 14.0893 3.61608 12.3618 1.94248 9.48869C0.266516 6.61118 -0.325138 4.16867 0.1683 2.16412C0.375732 1.32056 1.01767 0.648206 1.85683 0.397636Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>

    <svg
      width="0.833vw"
      height="0.903vw"
      viewBox="0 0 12 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.232258 12.7912H2.55484V3.95525H0.232258L0.232258 12.7912ZM1.39355 0.0546875C0.619355 0.0546875 0 0.691514 0 1.48755C0 2.28358 0.619355 2.92041 1.39355 2.92041C2.16774 2.92041 2.7871 2.28358 2.7871 1.48755C2.7871 0.691514 2.16774 0.0546875 1.39355 0.0546875ZM6.50323 5.30851V3.95525H4.18064V12.7912H6.50323V8.25383C6.50323 5.70652 9.67742 5.54732 9.67742 8.25383V12.7912H12V7.37819C12 3.07961 7.5871 3.23882 6.50323 5.30851Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>

    <svg
      width="1.111vw"
      height="0.903vw"
      viewBox="0 0 16 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.4 12.7912H1.6C1.17565 12.7912 0.768687 12.6235 0.468629 12.3249C0.168571 12.0263 0 11.6214 0 11.1992L0 1.5775C0.0179461 1.16738 0.194407 0.78 0.492542 0.496248C0.790678 0.212495 1.18744 0.0542996 1.6 0.0546882L14.4 0.0546882C14.8243 0.0546882 15.2313 0.222423 15.5314 0.520994C15.8314 0.819564 16 1.22451 16 1.64675V11.1992C16 11.6214 15.8314 12.0263 15.5314 12.3249C15.2313 12.6235 14.8243 12.7912 14.4 12.7912ZM1.6 3.13374V11.1992H14.4V3.13374L8 7.37819L1.6 3.13374ZM2.24 1.64675L8 5.46771L13.76 1.64675H2.24Z"
        fill="white"
        fill-opacity="0.74" />
    </svg>

  </div>
  <div class="clock">
    <svg
      width="3.271vw"
      height="3.271vw"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_22_677)">
        <path d="M4.50653 8.23642L6.45852 6.77244V3.79027C6.45852 3.49042 6.70089 3.24805 7.00074 3.24805C7.30059 3.24805 7.54297 3.49042 7.54297 3.79027V7.04358C7.54297 7.21437 7.46272 7.37542 7.32608 7.47736L5.15723 9.10401C5.05964 9.17721 4.94575 9.21246 4.83244 9.21246C4.66706 9.21246 4.50439 9.13816 4.39811 8.99502C4.21805 8.75587 4.26686 8.41591 4.50653 8.23642Z" fill="white" />
        <path d="M7 0C10.86 0 14 3.13996 14 7C14 10.86 10.86 14 7 14C3.13997 14 0 10.86 0 7C0 3.13996 3.13997 0 7 0ZM7 12.9156C10.2614 12.9156 12.9156 10.2614 12.9156 7C12.9156 3.73857 10.2614 1.08443 7 1.08443C3.73803 1.08443 1.08443 3.73857 1.08443 7C1.08443 10.2614 3.73857 12.9156 7 12.9156Z" fill="white" />
      </g>
      <defs>
        <clipPath id="clip0_22_677">
          <rect
            width="14"
            height="14"
            fill="white"
            transform="matrix(-1 0 0 1 14 0)" />
        </clipPath>
      </defs>
    </svg>

  </div>
  <div class="sameday">
    <p>Same Day London
      <span>Delivery Available</span>
    </p>
  </div>
  <div class="delivery">
    <svg
      width="1.401vw"
      height="1.188vw"
      viewBox="0 0 21 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M20.5727 9.41045L19.3853 7.54453L17.477 2.90565C17.371 2.6465 17.1589 2.46509 16.9045 2.46509H14.1904V1.68762C14.1904 1.24706 13.9148 0.910156 13.5543 0.910156H2.95251C2.59205 0.910156 2.31641 1.24706 2.31641 1.68762C2.31641 2.12819 2.59205 2.46509 2.95251 2.46509H12.9182V7.90735C12.9182 8.34791 13.1939 8.68482 13.5543 8.68482H18.4948L19.4277 10.1361V14.153H18.2191C17.9435 12.8054 16.9469 11.7947 15.7595 11.7947C14.5721 11.7947 13.5755 12.8054 13.2999 14.153H9.52563C9.24999 12.8054 8.25342 11.7947 7.06602 11.7947C5.87861 11.7947 4.88204 12.8054 4.6064 14.153H2.95251C2.59205 14.153 2.31641 14.4899 2.31641 14.9305C2.31641 15.371 2.59205 15.7079 2.95251 15.7079H4.6064C4.90325 17.0296 5.87861 18.0144 7.06602 18.0144C8.25342 18.0144 9.22878 17.0296 9.52563 15.7079H13.2999C13.5967 17.0296 14.5721 18.0144 15.7595 18.0144C16.9469 18.0144 17.9223 17.0296 18.2191 15.7079H20.0638C20.4243 15.7079 20.6999 15.371 20.6999 14.9305V9.87693C20.6999 9.69552 20.6575 9.54003 20.5727 9.41045ZM14.1904 4.02002H16.5228L17.795 7.12988H14.1904V4.02002ZM7.06602 16.4595C6.3663 16.4595 5.7938 15.7598 5.7938 14.9045C5.7938 14.0493 6.3663 13.3496 7.06602 13.3496C7.76573 13.3496 8.33823 14.0493 8.33823 14.9045C8.33823 15.7598 7.76573 16.4595 7.06602 16.4595ZM15.7595 16.4595C15.0598 16.4595 14.4873 15.7598 14.4873 14.9045C14.4873 14.0493 15.0598 13.3496 15.7595 13.3496C16.4592 13.3496 17.0317 14.0493 17.0317 14.9045C17.0317 15.7598 16.4592 16.4595 15.7595 16.4595Z" fill="url(#paint0_linear_20_271)" />
      <path d="M5.75288 10.9913C5.75288 10.5508 5.47723 10.2139 5.11677 10.2139H2.19067C1.83021 10.2139 1.55457 10.5508 1.55457 10.9913C1.55457 11.4319 1.83021 11.7688 2.19067 11.7688H5.11677C5.47723 11.7688 5.75288 11.4319 5.75288 10.9913Z" fill="url(#paint1_linear_20_271)" />
      <path d="M7.21597 7.93372C7.21597 7.49315 6.94032 7.15625 6.57986 7.15625H1.15173C0.791272 7.15625 0.515625 7.49315 0.515625 7.93372C0.515625 8.37428 0.791272 8.71118 1.15173 8.71118H6.57986C6.94032 8.71118 7.21597 8.37428 7.21597 7.93372Z" fill="url(#paint2_linear_20_271)" />
      <path d="M2.19067 5.65259H7.6188C7.97926 5.65259 8.25491 5.31569 8.25491 4.87512C8.25491 4.43456 7.97926 4.09766 7.6188 4.09766H2.19067C1.83021 4.09766 1.55457 4.43456 1.55457 4.87512C1.55457 5.31569 1.83021 5.65259 2.19067 5.65259Z" fill="url(#paint3_linear_20_271)" />
      <defs>
        <linearGradient
          id="paint0_linear_20_271"
          x1="11.5082"
          y1="-0.299244"
          x2="11.5082"
          y2="20.0878"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#FDFDFD" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_20_271"
          x1="3.65372"
          y1="-0.299208"
          x2="3.65372"
          y2="20.0879"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_20_271"
          x1="3.8658"
          y1="-0.298792"
          x2="3.8658"
          y2="20.0883"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#FCFCFC" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_20_271"
          x1="4.90474"
          y1="-0.299354"
          x2="4.90474"
          y2="20.0877"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="rightnav">
    <div class="text">stores</div>
    <div class="text">services</div>
    <div class="text">faqs</div>
  </div>
</div>