<style>
  .home-sec4-head h2 {
    margin: 7.222vw 0 4.222vw;
    font-family: 'Frank Ruhl Libre';
    font-size: 3.472vw;
    font-weight: 300;
    line-height: 4.514vw;
    letter-spacing: 0;
    text-align: center;
    color: #353535;
  }
  @media screen and (max-width: 989px) {
    .home-sec4-head h2 {
      margin: 3.403vw 0 2.875vw;
      font-size: 4.361vw;
      line-height: 5.635vw;
    }
  }
  @media screen and (max-width: 749px) {
    .home-sec4-head h2 {
      margin: 50px 0;
      font-size: 32px;
      line-height: 41.31px;
    }
  }
</style>
<div class="home-sec4-head">
  <h2>Our Best Sellers</h2>
</div>