.hotel-sec3-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4.861vw;
  padding-right: 4.861vw;
  margin-top: 7vw;
}

.hotel-sec3-left {
  width: 50%;
}

.hotel-sec3-img {
  width: 45.139vw;
  height: 45.139vw;
}

.hotel-sec3-right {
  width: 50%;
  padding-left: 8.542vw;
}

.hotel-sec3-right > h2 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Frank Ruhl Libre";
  font-weight: 300;
  letter-spacing: 0;
  font-size: 2.917vw;
  line-height: 3.765vw;
  margin-bottom: 3.653vw;
}

.faq-q_a {
  margin-bottom: 2.361vw;
}

.question {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Open Sans";
  color: black;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 1.111vw;
  line-height: 1.513vw;
  margin-bottom: 0.839vw;
}
.answer {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Open Sans";
  color: #353535;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 0.972vw;
  line-height: 1.389vw;
}

@media only screen and (min-width: 750px) and (max-width: 989px) {
  .hotel-sec3-container {
    width: 100%;
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .hotel-sec3-left {
    width: 50%;
  }
  .hotel-sec3-left > img {
    width: 100%;
    height: 59.14vw;
  }
  .hotel-sec3-right {
    width: 50%;
    padding-left: 2.957vw;
    padding-right: 5.376vw;
  }
  .hotel-sec3-right > h2 {
    font-size: 4.301vw;
    line-height: 5.552vw;
    margin-bottom: 1.613vw;
  }
  .question {
    font-size: 2.151vw;
    line-height: 2.929vw;
    margin-bottom: 0.86vw;
  }
  .answer {
    font-size: 1.613vw;
    line-height: 2.151vw;
  }
  .faq-q_a {
    margin-bottom: 1.704vw;
  }
}

@media only screen and (max-width: 749px) {
  .hotel-sec3-container {
    width: 100%;
    flex-direction: column;
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .hotel-sec3-left {
    width: 100%;
  }
  .hotel-sec3-left > img {
    width: 100%;
    height: 95.561vw;
  }
  .hotel-sec3-right {
    width: 100%;
    padding-left: 6.075vw;
    padding-right: 6.075vw;
  }
  .hotel-sec3-right > h2 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    margin-top: 2vw;
  }
  .question {
    font-size: 16px;
    line-height: 24px;
  }
  .answer {
    font-size: 13px;
    line-height: 18px;
  }
}
