
.pay-sec3-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 8vw;
}
.pay-sec3-container > h2 {
  font-size: 2.778vw;
  font-family: "Frank Ruhl Libre";
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.056vw;
  margin-block-start: 0;
}

.plarge {
  font-family: "Open Sans";
  font-size: 1.111vw;
  font-weight: 400;
  line-height: 1.556vw;
  letter-spacing: 0;
  text-align: left;
}

.p-body {
  margin-block-start: 0;
  margin-top: 3vw;
  font-family: "Open Sans";
  font-size: 1.111vw;
  font-weight: 600;
  font-style: italic;
  line-height: 1.556vw;
  letter-spacing: 0;
  text-align: left;
}

@media only screen and (min-width: 750px) and (max-width: 989px) {
  .pay-sec3-container > h2 {
    width: 100%;
    text-align: left;
    font-size: 4.301vw;
    line-height: 4.704vw;
    margin-bottom: 2vw;
  }

  .plarge {
    text-align: left;
    font-size: 1.613vw;
    line-height: 2.258vw;
    width: 100%;
  }

  .p-body {
    text-align: left;
    font-size: 1.613vw;
    line-height: 2.258vw;
    width: 100%;
  }
}

@media only screen and (max-width: 749px) {
  .pay-sec3-container > h2 {
    width: 100%;
    text-align: left;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 2.5vw;
  }
  .plarge {
    text-align: left;
    font-size: 12px;
    line-height: 16.8px;
    width: 100%;
  }
  .p-body {
    text-align: left;
    font-size: 12px;
    line-height: 16.8px;
    width: 100%;
  }
}
